<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-kqbb-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">员工id：</label>
				<div class="col-sm-8">
					<input id="empId" name="empId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">员工姓名：</label>
				<div class="col-sm-8">
					<input id="empName" name="empName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">统计时间：</label>
				<div class="col-sm-8">
					<input id="aTime" name="aTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工时：</label>
				<div class="col-sm-8">
					<input id="manHour" name="manHour" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/kqbb"
		$("#form-kqbb-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-kqbb-add').serialize());
	        }
	    }
	</script>
</body>
</html>
