<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								项目同步编号：<input type="text" name="projectNumber"/>
							</li>

							<li>
								授权账号：<input type="text" name="apiKey"/>
							</li>

							<li>
								授权密钥：<input type="text" name="apiSecret"/>
							</li>

							<li>
								设备序号：<input type="text" name="clientSerial"/>
							</li>

							<li>
								hj_project 外键 id：<input type="text" name="projectId"/>
							</li>

							<li>
								工程编码：<input type="text" name="engineeringCode"/>
							</li>

							<li>
								对接平台（从字典获取相应数据）：<input type="text" name="platformName"/>
							</li>

							<li>
								状态（0审核中，2运行，停止）：<input type="text" name="state"/>
							</li>

							<li>
								创建时间：<input type="text" name="createDate"/>
							</li>

							<li>
								修改时间：<input type="text" name="updateDate"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zhgd:hjSynchronizationInformation:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="zhgd:hjSynchronizationInformation:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zhgd:hjSynchronizationInformation:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zhgd:hjSynchronizationInformation:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zhgd:hjSynchronizationInformation:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zhgd:hjSynchronizationInformation:remove')}]];
        var prefix = ctx + "zhgd/hjSynchronizationInformation";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "项目两制同步",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
					visible: false
				},
				{
					field : 'projectNumber', 
					title : '项目同步编号',
					sortable: true
				},
				{
					field : 'apiKey', 
					title : '授权账号',
					sortable: true
				},
				{
					field : 'apiSecret', 
					title : '授权密钥',
					sortable: true
				},
				{
					field : 'clientSerial', 
					title : '设备序号',
					sortable: true
				},
				{
					field : 'projectId', 
					title : 'hj_project 外键 id',
					sortable: true
				},
				{
					field : 'engineeringCode', 
					title : '工程编码',
					sortable: true
				},
				{
					field : 'platformName', 
					title : '对接平台（从字典获取相应数据）',
					sortable: true
				},
				{
					field : 'state', 
					title : '状态（0审核中，2运行，停止）',
					sortable: true
				},
				{
					field : 'createDate', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateDate', 
					title : '修改时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>