<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								设备编号--32位：<input type="text" name="deviceNo"/>
							</li>

							<li>
								运行时,格式为yyyy-MM-dd hh:mm:ss，：<input type="text" name="runtime"/>
							</li>

							<li>
								载重（动臂式塔 机无载重，0）：<input type="text" name="load"/>
							</li>

							<li>
								载重比：<input type="text" name="loadRatio"/>
							</li>

							<li>
								力矩：<input type="text" name="moment"/>
							</li>

							<li>
								力矩比：<input type="text" name="momentRatio"/>
							</li>

							<li>
								回转角度：<input type="text" name="slewingSpeed"/>
							</li>

							<li>
								高度(动臂式塔 机无高度,填0）：<input type="text" name="height"/>
							</li>

							<li>
								幅度：<input type="text" name="range"/>
							</li>

							<li>
								倍率：<input type="text" name="magnification"/>
							</li>

							<li>
								传感器状态（1-正常，2-停机）：<input type="text" name="sensorStatus"/>
							</li>

							<li>
								正常工作预警状态（1-正常，2-预警）：<input type="text" name="normalWorkEarlyWarnState"/>
							</li>

							<li>
								正常工作报警状态（1-正常，2-预警）：<input type="text" name="normalWorkWarnStatus"/>
							</li>

							<li>
								区域限制预警状态（1-无，2-预警（塔吊 进入限制区域））：<input type="text" name="regionLimitEarlyWarnStatus"/>
							</li>

							<li>
								区域限制报警状态（1-无，2-预警（塔吊 进入限制区域））：<input type="text" name="regionLimitWarnStatus"/>
							</li>

							<li>
								群塔预警状态（1-无，2-预警（交叉群塔 同时作业中））：<input type="text" name="groupTowerEarlyWarnStatus"/>
							</li>

							<li>
								群塔报警状态（1-无，2-预警（交叉群塔 同时作业中））：<input type="text" name="groupTowerWarnStatus"/>
							</li>

							<li>
								风速 m/s：<input type="text" name="windSpeed"/>
							</li>

							<li>
								设备编号：<input type="text" name="hxzid"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zhgd:sbCraneWarning:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="zhgd:sbCraneWarning:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zhgd:sbCraneWarning:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zhgd:sbCraneWarning:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zhgd:sbCraneWarning:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zhgd:sbCraneWarning:remove')}]];
        var prefix = ctx + "zhgd/sbCraneWarning";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "塔机预警数据",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'deviceNo', 
					title : '设备编号--32位',
					sortable: true
				},
				{
					field : 'runtime', 
					title : '运行时,格式为yyyy-MM-dd hh:mm:ss，',
					sortable: true
				},
				{
					field : 'load', 
					title : '载重（动臂式塔 机无载重，0）',
					sortable: true
				},
				{
					field : 'loadRatio', 
					title : '载重比',
					sortable: true
				},
				{
					field : 'moment', 
					title : '力矩',
					sortable: true
				},
				{
					field : 'momentRatio', 
					title : '力矩比',
					sortable: true
				},
				{
					field : 'slewingSpeed', 
					title : '回转角度',
					sortable: true
				},
				{
					field : 'height', 
					title : '高度(动臂式塔 机无高度,填0）',
					sortable: true
				},
				{
					field : 'range', 
					title : '幅度',
					sortable: true
				},
				{
					field : 'magnification', 
					title : '倍率',
					sortable: true
				},
				{
					field : 'sensorStatus', 
					title : '传感器状态（1-正常，2-停机）',
					sortable: true
				},
				{
					field : 'normalWorkEarlyWarnState', 
					title : '正常工作预警状态（1-正常，2-预警）',
					sortable: true
				},
				{
					field : 'normalWorkWarnStatus', 
					title : '正常工作报警状态（1-正常，2-预警）',
					sortable: true
				},
				{
					field : 'regionLimitEarlyWarnStatus', 
					title : '区域限制预警状态（1-无，2-预警（塔吊 进入限制区域））',
					sortable: true
				},
				{
					field : 'regionLimitWarnStatus', 
					title : '区域限制报警状态（1-无，2-预警（塔吊 进入限制区域））',
					sortable: true
				},
				{
					field : 'groupTowerEarlyWarnStatus', 
					title : '群塔预警状态（1-无，2-预警（交叉群塔 同时作业中））',
					sortable: true
				},
				{
					field : 'groupTowerWarnStatus', 
					title : '群塔报警状态（1-无，2-预警（交叉群塔 同时作业中））',
					sortable: true
				},
				{
					field : 'windSpeed', 
					title : '风速 m/s',
					sortable: true
				},
				{
					field : 'hxzid', 
					title : '设备编号',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>