<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hjSystemUser-edit" th:object="${hjSystemUser}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">

				<label class="col-sm-3 control-label">账户类型：</label>
				<div class="col-sm-8">
					<!--<input id="userType" name="userType" class="form-control" type="text">-->
					<input type="radio" name="userType"  th:value="0" th:field="*{userType}" readonly/>集团
					<input type="radio" name="userType" th:value="1" th:field="*{userType}" readonly/>公司
					<input type="radio" name="userType" th:value="2" th:field="*{userType}" readonly/>项目
				</div>
			</div>

				<label class="col-sm-3 control-label">单位类型：</label>
				<div class="col-sm-8">
					<select id="companyType" name="companyType" class="form-control" disabled="disabled"  >
						<option value="">请选择集团（公司）</option>
						<option th:each="p:${company}" th:value="${p.id}" th:selected="${cid==p.id}" th:text="${p.companyName}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">名称：</label>
				<div class="col-sm-8">
					<input id="userName" name="userName" th:field="*{userName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input id="userPhone" name="userPhone" th:field="*{userPhone}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户：</label>
				<div class="col-sm-8">
					<input id="userAccount" name="userAccount" th:field="*{userAccount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">密码：</label>
				<div class="col-sm-8">
					<input id="userPassword" name="userPassword" th:field="*{userPassword}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">账户状态：</label>
				<div class="col-sm-8">
					<!--<input id="userState" name="userState" class="form-control" type="text">-->
					<input type="radio" name="userState"  th:value="0" th:field="*{userState}"/>禁用
					<input type="radio" name="userState" th:value="1" th:field="*{userState}"/> 启用
				</div>
			</div>
			<div class="form-group">

				<label class="col-sm-3 control-label">登录项：</label>
				<div class="col-sm-8">
					<!--<input id="entry" name="entry" class="form-control" type="text">-->
					<input type="radio" name="entry" th:value="0" th:field="*{entry}"/>app
					<input type="radio" name="entry" th:value="1" th:field="*{entry}"/>pc端
					<input type="radio" name="entry" th:value="2" th:field="*{entry}"/>pc端+app
				</div>
			</div>

		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/hjSystemUser";
		$("#form-hjSystemUser-edit").validate({
			rules:{
                userName:{
                    required:true,
                },
                userPhone:{
                    required:true,
                    number:true
                },
                userAccount:{
                    required:true,
                },
                userPassword:{
                    required:true,
                },
                userState:{
                    required:true,
                },
                userType:{
                    required:true,
                },
                entry:{
                    required:true,
                },
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-hjSystemUser-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
