<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.hjAge.mapper.HjAgeMapper">

    <resultMap type="HjAge" id="HjAgeResult">
        <result property="id" column="id"/>
        <result property="age" column="age"/>
        <result property="pid" column="pid"/>
        <result property="enter" column="enter"/>
    </resultMap>

    <select id="limitAgeList" parameterType="String" resultType="com.hujiang.framework.web.domain.AjaxResult">
        SELECT
        t1.age,
        t1.enter,
        t1.id
        FROM hj_age t1 WHERE t1.pid = #{pid};
    </select>

    <insert id="addForbidAge" parameterType="HjAge">
        insert into hj_age
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pid != null  ">pid,</if>
            <if test="age != null  and age != ''  ">age,</if>
            <if test="enter != null  and enter != ''  ">enter,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pid != null  ">#{pid},</if>
            <if test="age != null  and age != ''  ">#{age},</if>
            <if test="enter != null  and enter != ''  ">#{enter},</if>
        </trim>
    </insert>

    <delete id="deleteForbidAge" parameterType="int">
        delete from hj_age where id = #{id}
    </delete>

    <update id="forbidAge" parameterType="HjAge">
        UPDATE hj_age SET enter = #{enter} WHERE pid=#{pid} AND id = #{id};
    </update>

    <select id="selectByPidAndAge" resultType="int">
        SELECT COUNT(1) FROM hj_age WHERE pid=#{pid} AND age = #{age};
    </select>


    <!--    <sql id="selectHjAreaVo">-->
    <!--        select id, title, type, parent_id,isid from hj_area-->
    <!--    </sql>-->

    <!--    <select id="selectHjAreaList" parameterType="HjArea" resultMap="HjAreaResult">-->
    <!--        <include refid="selectHjAreaVo"/>-->
    <!--        <where>-->
    <!--            <if test="id != null "> and id = #{id}</if>-->
    <!--            <if test="title != null  and title != '' "> and title = #{title}</if>-->
    <!--            <if test="type != null  and type != '' "> and type = #{type}</if>-->
    <!--            <if test="parentId != null "> and parent_id = #{parentId}</if>-->
    <!--        </where>-->
    <!--    </select>-->

    <!--    <select id="selectHjAreaById" parameterType="Long" resultMap="HjAreaResult">-->
    <!--        <include refid="selectHjAreaVo"/>-->
    <!--        where id = #{id}-->
    <!--    </select>-->



    <!--    <update id="updateHjArea" parameterType="HjArea">-->
    <!--        update hj_area-->
    <!--        <trim prefix="SET" suffixOverrides=",">-->
    <!--            <if test="title != null  and title != ''  ">title = #{title},</if>-->
    <!--            <if test="type != null  and type != ''  ">type = #{type},</if>-->
    <!--            <if test="parentId != null  ">parent_id = #{parentId},</if>-->
    <!--        </trim>-->
    <!--        where id = #{id}-->
    <!--    </update>-->

    <!--    <delete id="deleteHjAreaById" parameterType="Long">-->
    <!--        delete from hj_area where id = #{id}-->
    <!--    </delete>-->

    <!--    <delete id="deleteHjAreaByIds" parameterType="String">-->
    <!--        delete from hj_area where id in-->
    <!--        <foreach item="id" collection="array" open="(" separator="," close=")">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </delete>-->


    <!--    <select id="selectAllProvinceAndCity" resultMap="HjAreaResult">-->
    <!--        SELECT-->
    <!--        t1.id,-->
    <!--        t1.title,-->
    <!--        t1.parent_id,-->
    <!--        t1.type-->
    <!--        FROM hj_area t1-->
    <!--        WHERE t1.type = 'PROVINCE' OR t1.type = 'CITY' ;-->
    <!--    </select>-->

    <!--    <select id="selectProvinceAndCityByIds" parameterType="String" resultMap="HjAreaResult">-->
    <!--        SELECT-->
    <!--        t1.id,-->
    <!--        t1.title,-->
    <!--        t1.parent_id,-->
    <!--        t1.type-->
    <!--        FROM hj_area t1-->
    <!--        WHERE t1.id in-->
    <!--        <foreach item="id" collection="array" open="(" separator="," close=")">-->
    <!--            #{id}-->
    <!--        </foreach>-->
    <!--    </select>-->

</mapper>