<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.hjSafetyHidden.mapper.HjSafetyHiddenMapper">
    
    <resultMap type="HjSafetyHidden" id="HjSafetyHiddenResult">
        <result property="id"    column="id"    />
        <result property="hiddenName"    column="hiddenName"    />
    </resultMap>
	
	<sql id="selectHjSafetyHiddenVo">
        select id, hiddenName from hj_safety_hidden
    </sql>
	
    <select id="selectHjSafetyHiddenList" parameterType="HjSafetyHidden" resultMap="HjSafetyHiddenResult">
        <include refid="selectHjSafetyHiddenVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="hiddenName != null  and hiddenName != '' "> and hiddenName = #{hiddenName}</if>
         </where>
    </select>
    
    <select id="selectHjSafetyHiddenById" parameterType="Integer" resultMap="HjSafetyHiddenResult">
        <include refid="selectHjSafetyHiddenVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHjSafetyHidden" parameterType="HjSafetyHidden">
        insert into hj_safety_hidden
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="hiddenName != null  and hiddenName != ''  ">hiddenName,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="hiddenName != null  and hiddenName != ''  ">#{hiddenName},</if>
         </trim>
    </insert>
	 
    <update id="updateHjSafetyHidden" parameterType="HjSafetyHidden">
        update hj_safety_hidden
        <trim prefix="SET" suffixOverrides=",">
            <if test="hiddenName != null  and hiddenName != ''  ">hiddenName = #{hiddenName},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteHjSafetyHiddenById" parameterType="Integer">
        delete from hj_safety_hidden where id = #{id}
    </delete>
	
    <delete id="deleteHjSafetyHiddenByIds" parameterType="String">
        delete from hj_safety_hidden where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>