<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.lyAttendanceRecord.mapper.LyAttendanceRecordMapper">
    
    <resultMap type="LyAttendanceRecord" id="LyAttendanceRecordResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="passedTime"    column="passed_time"    />
        <result property="direction"    column="direction"    />
        <result property="way"    column="way"    />
        <result property="sitePhoto"    column="site_photo"    />
        <result property="createDate"    column="create_date"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="deviceType"    column="device_type"    />
        <result property="deviceSn"    column="device_sn"    />
        <result property="temperature"    column="temperature"    />
        <result property="alarm"    column="alarm"    />
    </resultMap>
	
	<sql id="selectLyAttendanceRecordVo">
        select id, project_id, employee_id, passed_time, direction, way, site_photo, create_date, upload_time, device_type, device_sn, temperature, alarm from ly_attendance_record
    </sql>
	
    <select id="selectLyAttendanceRecordList" parameterType="LyAttendanceRecord" resultMap="LyAttendanceRecordResult">
        <include refid="selectLyAttendanceRecordVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="projectId != null "> and project_id = #{projectId}</if>
             <if test="employeeId != null "> and employee_id = #{employeeId}</if>
             <if test="passedTime != null  and passedTime != '' "> and passed_time = #{passedTime}</if>
             <if test="direction != null  and direction != '' "> and direction = #{direction}</if>
             <if test="way != null "> and way = #{way}</if>
             <if test="sitePhoto != null  and sitePhoto != '' "> and site_photo = #{sitePhoto}</if>
             <if test="createDate != null "> and create_date = #{createDate}</if>
             <if test="uploadTime != null  and uploadTime != '' "> and upload_time = #{uploadTime}</if>
             <if test="deviceType != null  and deviceType != '' "> and device_type = #{deviceType}</if>
             <if test="deviceSn != null  and deviceSn != '' "> and device_sn = #{deviceSn}</if>
             <if test="temperature != null  and temperature != '' "> and temperature = #{temperature}</if>
             <if test="alarm != null  and alarm != '' "> and alarm = #{alarm}</if>
         </where>
    </select>
    <!--人员同行详情-->
    <select id="selectLyAttendanceRecordListTwo" parameterType="LyAttendanceRecord" resultMap="LyAttendanceRecordResult">
       select id,employee_id,(select p.emp_name from ly_personnel p where p.id=employee_id) empName,DATE_FORMAT(passed_time, '%H:%i') passed_time,direction,temperature
       from ly_attendance_record
        <where>

            <if test="employeeId != null "> and employee_id = #{employeeId}</if>
            <if test="passedTime != null  and passedTime != '' "> and to_days(passed_time) = to_days(#{passedTime})</if>

        </where>
    </select>
    <select id="selectLyAttendanceRecordById" parameterType="Integer" resultMap="LyAttendanceRecordResult">
        <include refid="selectLyAttendanceRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLyAttendanceRecord" parameterType="LyAttendanceRecord">
        insert into ly_attendance_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="projectId != null  ">project_id,</if>
			<if test="employeeId != null  ">employee_id,</if>
			<if test="passedTime != null  and passedTime != ''  ">passed_time,</if>
			<if test="direction != null  and direction != ''  ">direction,</if>
			<if test="way != null  ">way,</if>
			<if test="sitePhoto != null  and sitePhoto != ''  ">site_photo,</if>
			<if test="createDate != null  ">create_date,</if>
			<if test="uploadTime != null  and uploadTime != ''  ">upload_time,</if>
			<if test="deviceType != null  and deviceType != ''  ">device_type,</if>
			<if test="deviceSn != null  and deviceSn != ''  ">device_sn,</if>
			<if test="temperature != null  and temperature != ''  ">temperature,</if>
			<if test="alarm != null  and alarm != ''  ">alarm,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="projectId != null  ">#{projectId},</if>
			<if test="employeeId != null  ">#{employeeId},</if>
			<if test="passedTime != null  and passedTime != ''  ">#{passedTime},</if>
			<if test="direction != null  and direction != ''  ">#{direction},</if>
			<if test="way != null  ">#{way},</if>
			<if test="sitePhoto != null  and sitePhoto != ''  ">#{sitePhoto},</if>
			<if test="createDate != null  ">#{createDate},</if>
			<if test="uploadTime != null  and uploadTime != ''  ">#{uploadTime},</if>
			<if test="deviceType != null  and deviceType != ''  ">#{deviceType},</if>
			<if test="deviceSn != null  and deviceSn != ''  ">#{deviceSn},</if>
			<if test="temperature != null  and temperature != ''  ">#{temperature},</if>
			<if test="alarm != null  and alarm != ''  ">#{alarm},</if>
         </trim>
    </insert>
	 
    <update id="updateLyAttendanceRecord" parameterType="LyAttendanceRecord">
        update ly_attendance_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null  ">project_id = #{projectId},</if>
            <if test="employeeId != null  ">employee_id = #{employeeId},</if>
            <if test="passedTime != null  and passedTime != ''  ">passed_time = #{passedTime},</if>
            <if test="direction != null  and direction != ''  ">direction = #{direction},</if>
            <if test="way != null  ">way = #{way},</if>
            <if test="sitePhoto != null  and sitePhoto != ''  ">site_photo = #{sitePhoto},</if>
            <if test="createDate != null  ">create_date = #{createDate},</if>
            <if test="uploadTime != null  and uploadTime != ''  ">upload_time = #{uploadTime},</if>
            <if test="deviceType != null  and deviceType != ''  ">device_type = #{deviceType},</if>
            <if test="deviceSn != null  and deviceSn != ''  ">device_sn = #{deviceSn},</if>
            <if test="temperature != null  and temperature != ''  ">temperature = #{temperature},</if>
            <if test="alarm != null  and alarm != ''  ">alarm = #{alarm},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteLyAttendanceRecordById" parameterType="Integer">
        delete from ly_attendance_record where id = #{id}
    </delete>
	
    <delete id="deleteLyAttendanceRecordByIds" parameterType="String">
        delete from ly_attendance_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <resultMap type="LyAttendanceRecordPersonnel" id="LyAttendanceRecordPersonnelResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="passedTime"    column="passed_time"    />
        <result property="direction"    column="direction"    />
        <result property="sitePhoto"    column="site_photo"    />
        <result property="temperature"    column="temperature"    />
        <result property="empName"    column="empName"    />
        <result property="companyName"    column="companyName"    />
        <result property="type"    column="type"    />
        <result property="empNumber"    column="emp_number"    />
        <result property="typeName"    column="type_name"    />

    </resultMap>
    <select id="selectPersonnelRecordPageList" parameterType="LyAttendanceRecordPersonnel" resultMap="LyAttendanceRecordPersonnelResult">
            select p.type_name,p.emp_number,r.id,p.emp_name empName,r.site_photo,r.project_id, r.employee_id,p.companyName ,r.direction,r.passed_time,r.temperature,p.type from ly_attendance_record r left join ly_personnel p on r.employee_id=p.id
            where r.project_id =#{projectId}
        <if test="passedTime != null  and passedTime != '' "> and to_days(r.passed_time) = to_days(#{passedTime})</if>
        <if test="empName != null  and empName != '' "> and emp_name like  '%${empName}%'</if>
        <if test="companyName != null  and companyName != '' "> and companyName like  '%${companyName}%'</if>
        <if test="direction != null  and direction != '' "> and direction = #{direction}</if>
        <if test="type != null  and type != '' "> and type = #{type}</if>
         order by r.id desc
    </select>
    <resultMap type="LyRecordExport" id="LyRecordExportResult">

        <result property="empNumber"    column="emp_number"    />
        <result property="empName"    column="emp_name"    />
        <result property="subordinate"    column="subordinate"    />
        <result property="maxTime"    column="maxTime"    />
        <result property="minTime"    column="minTime"    />
        <result property="temperature"    column="temperature"    />
        <result property="typeName"    column="type_name"    />
        <result property="companyName"    column="companyName"    />
    </resultMap>
    <select id="selectRecordExport" parameterType="LyRecordExport" resultMap="LyRecordExportResult">

 select p.companyName,p.type_name,p.emp_number,p.emp_name,p.subordinate,(select MAX(passed_time) from ly_attendance_record where TO_DAYS(passed_time)=TO_DAYS(#{passedTime}) and direction='out' and employee_id=r.employee_id) maxTime,
(select MIN(passed_time) from ly_attendance_record where TO_DAYS(passed_time)=TO_DAYS(#{passedTime}) and direction='in' and employee_id=r.employee_id) minTime,r.temperature

from ly_attendance_record r left join ly_personnel p on r.employee_id=p.id where project_id=#{projectId} and TO_DAYS(passed_time)=TO_DAYS(#{passedTime}) and p.type=1 and p.ispresent=0 GROUP BY employee_id
    </select>
    <select id="getRecordCount" parameterType="Map" resultType="Integer">
select count(t.id) from (
select id from ly_attendance_record where project_id=#{pid} and TO_DAYS(passed_time) =TO_DAYS(#{time}) and employee_id in(select id from ly_personnel where `type`=#{type} and ispresent=0 and pid=#{pid}) GROUP BY employee_id ) t
    </select>
</mapper>