<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.lyCompany.mapper.LyCompanyMapper">
    
    <resultMap type="LyCompany" id="LyCompanyResult">
        <result property="id"    column="id"    />
        <result property="companyName"    column="company_name"    />
        <result property="floor"    column="floor"    />
        <result property="checkIdTime"    column="check_id_time"    />
        <result property="personCharge"    column="person_charge"    />
        <result property="pid"    column="pid"    />
        <result property="size"    column="size"    />
    </resultMap>
	
	<sql id="selectLyCompanyVo">
        select id, company_name, floor, check_id_time, person_charge, pid from ly_company
    </sql>
	
    <select id="selectLyCompanyList" parameterType="LyCompany" resultMap="LyCompanyResult">
        <include refid="selectLyCompanyVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyName != null  and companyName != '' "> and company_name like  '%${companyName}%'</if>
             <if test="floor != null  and floor != '' "> and floor = #{floor}</if>
             <if test="checkIdTime != null  and checkIdTime != '' "> and check_id_time = #{checkIdTime}</if>
             <if test="personCharge != null  and personCharge != '' "> and person_charge = #{personCharge}</if>
             <if test="pid != null "> and pid = #{pid}</if>
         </where>
    </select>
    
    <select id="selectLyCompanyById" parameterType="Integer" resultMap="LyCompanyResult">
        <include refid="selectLyCompanyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLyCompany" parameterType="LyCompany">
        insert into ly_company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="companyName != null  and companyName != ''  ">company_name,</if>
			<if test="floor != null  and floor != ''  ">floor,</if>
			<if test="checkIdTime != null  and checkIdTime != ''  ">check_id_time,</if>
			<if test="personCharge != null  and personCharge != ''  ">person_charge,</if>
			<if test="pid != null  ">pid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="companyName != null  and companyName != ''  ">#{companyName},</if>
			<if test="floor != null  and floor != ''  ">#{floor},</if>
			<if test="checkIdTime != null  and checkIdTime != ''  ">#{checkIdTime},</if>
			<if test="personCharge != null  and personCharge != ''  ">#{personCharge},</if>
			<if test="pid != null  ">#{pid},</if>
         </trim>
    </insert>
	 
    <update id="updateLyCompany" parameterType="LyCompany">
        update ly_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null  and companyName != ''  ">company_name = #{companyName},</if>
            <if test="floor != null  and floor != ''  ">floor = #{floor},</if>
            <if test="checkIdTime != null  and checkIdTime != ''  ">check_id_time = #{checkIdTime},</if>
            <if test="personCharge != null  and personCharge != ''  ">person_charge = #{personCharge},</if>
            <if test="pid != null  ">pid = #{pid},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteLyCompanyById" parameterType="Integer">
        delete from ly_company where id = #{id}
    </delete>
	
    <delete id="deleteLyCompanyByIds" parameterType="String">
        delete from ly_company where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <resultMap type="LyCompanyCount" id="LyCompanyCountResult">
    <result property="companyName"    column="company_name"    />
    <result property="zrs"    column="zrs"    />
    <result property="kqrs"    column="kqrs"    />
    </resultMap>
    <select id="selectLyCompanyCount" parameterType="Map" resultMap="LyCompanyCountResult">
       select t.company_name,(select count(pp.id) from ly_personnel pp where pp.company_id=t.cid and ispresent=0 and type=1) zrs,count(t.cid) kqrs from (
select c.id cid,c.company_name,r.* from ly_attendance_record r left join ly_personnel p on p.id=r.employee_id left join ly_company c on c.id =p.company_id  where TO_DAYS(r.passed_time)=TO_DAYS(#{time}) and p.ispresent=0 and p.type=1 and r.project_id=#{pid} group by r.employee_id
) t GROUP BY t.cid order by kqrs desc
    </select>
</mapper>