<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.sbCraneBinding.mapper.SbCraneBindingMapper">
    
    <resultMap type="SbCraneBinding" id="SbCraneBindingResult">
        <result property="id"    column="id"    />
        <result property="hxzid"    column="hxzid"    />
        <result property="pid"    column="pid"    />
        <result property="userid"    column="userid"    />
        <result property="dname"    column="dname"    />
        <result property="isSynchronization"    column="isSynchronization"    />
        <result property="deviceNo"    column="device_no"    />
        <result property="serialNum"    column="serial_num"    />
        <result property="tcMaxScope"    column="tc_max_scope"    />
        <result property="tcMaxHeight"    column="tc_max_height"    />
        <result property="tcLoadCapacity"    column="tc_load_capacity"    />
        <result property="tcLoadMoment"    column="tc_load_moment"    />
        <result property="jdbh"    column="jdbh"    />
        <result property="xmid"    column="xmid"    />
        <result property="subId"    column="sub_id"    />
        <result property="scznl"    column="scznl"    />
        <result property="manufacturerId"    column="manufacturer_id"    />
        <result property="installCompany"    column="install_company"    />

    </resultMap>
	
	<sql id="selectSbCraneBindingVo">
    select * from (
	    select * from sb_crane_binding group by hxzid, pid
    ) a
</sql>

    <select id="selectByHxzId" parameterType="SbCraneBinding" resultMap="SbCraneBindingResult">
        SELECT * FROM `sb_crane_binding` where pid=#{pid} group by hxzid
    </select>
    <select id="selectSbCraneBindingList" parameterType="SbCraneBinding" resultMap="SbCraneBindingResult">
        <include refid="selectSbCraneBindingVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="hxzid != null  and hxzid != '' "> and hxzid = #{hxzid}</if>
             <if test="pid != null "> and pid = #{pid}</if>
             <if test="userid != null "> and userid = #{userid}</if>
             <if test="dname != null  and dname != '' "> and dname = #{dname}</if>
             <if test="isSynchronization != null  and isSynchronization != '' "> and isSynchronization = #{isSynchronization}</if>
             <if test="deviceNo != null  and deviceNo != '' "> and device_no = #{deviceNo}</if>
             <if test="scznl != null  and scznl != '' "> and scznl = #{scznl}</if>
         </where>
    </select>
    
    <select id="selectSbCraneBindingById" parameterType="Integer" resultMap="SbCraneBindingResult">
        <include refid="selectSbCraneBindingVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSbCraneBinding" parameterType="SbCraneBinding">
        insert into sb_crane_binding
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="hxzid != null  and hxzid != ''  ">hxzid,</if>
            <if test="pid != null  ">pid,</if>
            <if test="dname != null  and dname != ''  ">dname,</if>
            <if test="isSynchronization != null  and isSynchronization != ''  ">isSynchronization,</if>
            <if test="deviceNo != null  and deviceNo != ''  ">device_no,</if>
            <if test="serialNum != null  and serialNum != ''  ">serial_num,</if>
            <if test="tcMaxScope != null  ">tc_max_scope,</if>
            <if test="tcMaxHeight != null  ">tc_max_height,</if>
            <if test="tcLoadCapacity != null  ">tc_load_capacity,</if>
            <if test="tcLoadMoment != null  ">tc_load_moment,</if>
            <if test="jdbh != null  and jdbh != ''  ">jdbh,</if>
            <if test="xmid != null  and xmid != ''  ">xmid,</if>
            <if test="subId != null  and subId != ''  ">sub_id,</if>
            <if test="scznl != null  and scznl != ''  ">scznl,</if>
            <if test="manufacturerId != null  ">manufacturer_id,</if>
            <if test="installCompany != null  and installCompany != ''  ">install_company,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="hxzid != null  and hxzid != ''  ">#{hxzid},</if>
            <if test="pid != null  ">#{pid},</if>
            <if test="dname != null  and dname != ''  ">#{dname},</if>
            <if test="isSynchronization != null  and isSynchronization != ''  ">#{isSynchronization},</if>
            <if test="deviceNo != null  and deviceNo != ''  ">#{deviceNo},</if>
            <if test="serialNum != null  and serialNum != ''  ">#{serialNum},</if>
            <if test="tcMaxScope != null  ">#{tcMaxScope},</if>
            <if test="tcMaxHeight != null  ">#{tcMaxHeight},</if>
            <if test="tcLoadCapacity != null  ">#{tcLoadCapacity},</if>
            <if test="tcLoadMoment != null  ">#{tcLoadMoment},</if>
            <if test="jdbh != null  and jdbh != ''  ">#{jdbh},</if>
            <if test="xmid != null  and xmid != ''  ">#{xmid},</if>
            <if test="subId != null  and subId != ''  ">#{subId},</if>
            <if test="scznl != null  and scznl != ''  ">#{scznl},</if>
            <if test="manufacturerId != null  ">#{manufacturerId},</if>
            <if test="installCompany != null  and installCompany != ''  ">#{installCompany},</if>
        </trim>

    </insert>
	 
    <update id="updateSbCraneBinding" parameterType="SbCraneBinding">
        update sb_crane_binding
        <trim prefix="SET" suffixOverrides=",">
            <if test="hxzid != null  and hxzid != ''  ">hxzid = #{hxzid},</if>
            <if test="pid != null  ">pid = #{pid},</if>
            <if test="dname != null  and dname != ''  ">dname = #{dname},</if>
            <if test="isSynchronization != null  and isSynchronization != ''  ">isSynchronization = #{isSynchronization},</if>
            <if test="deviceNo != null  and deviceNo != ''  ">device_no = #{deviceNo},</if>
            <if test="serialNum != null  and serialNum != ''  ">serial_num = #{serialNum},</if>
            <if test="tcMaxScope != null  ">tc_max_scope = #{tcMaxScope},</if>
            <if test="tcMaxHeight != null  ">tc_max_height = #{tcMaxHeight},</if>
            <if test="tcLoadCapacity != null  ">tc_load_capacity = #{tcLoadCapacity},</if>
            <if test="tcLoadMoment != null  ">tc_load_moment = #{tcLoadMoment},</if>
            <if test="jdbh != null  and jdbh != ''  ">jdbh = #{jdbh},</if>
            <if test="xmid != null  and xmid != ''  ">xmid = #{xmid},</if>
            <if test="subId != null  and subId != ''  ">sub_id = #{subId},</if>
            <if test="scznl != null  and scznl != ''  ">scznl = #{scznl},</if>
            <if test="manufacturerId != null  ">manufacturer_id = #{manufacturerId},</if>
            <if test="installCompany != null  and installCompany != ''  ">install_company = #{installCompany},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSbCraneBindingById" parameterType="Integer">
        delete from sb_crane_binding where id = #{id}
    </delete>
	
    <delete id="deleteSbCraneBindingByIds" parameterType="String">
        delete from sb_crane_binding where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>