<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.sbProjectVideoArea.mapper.SbProjectVideoAreaMapper">

    <resultMap type="SbProjectVideoArea" id="SbProjectVideoAreaResult">
        <result property="id"    column="id"    />
        <result property="projectid"    column="projectid"    />
        <result property="areaName"    column="area_name"    />
        <result property="address"    column="address"    />
        <result property="affiliatedUnit"    column="affiliated_unit"    />
    </resultMap>

    <sql id="selectSbProjectVideoAreaVo">
        select id, projectid, area_name, address, affiliated_unit from sb_project_video_area
    </sql>

    <select id="selectSbProjectVideoAreaList" parameterType="SbProjectVideoArea" resultMap="SbProjectVideoAreaResult">
        <include refid="selectSbProjectVideoAreaVo"/>
        <where>
            <if test="id != null "> and id = #{id}</if>
            <if test="projectid != null "> and projectid = #{projectid}</if>
            <if test="areaName != null  and areaName != '' "> and area_name = #{areaName}</if>
            <if test="address != null  and address != '' "> and address = #{address}</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != '' "> and affiliated_unit = #{affiliatedUnit}</if>
        </where>
        order by id desc
    </select>
    
    <select id="selectSbProjectVideoAreaById" parameterType="Integer" resultMap="SbProjectVideoAreaResult">
        <include refid="selectSbProjectVideoAreaVo"/>
        where id = #{id}
    </select>

    <insert id="insertSbProjectVideoArea" parameterType="SbProjectVideoArea">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into sb_project_video_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="projectid != null  ">projectid,</if>
            <if test="areaName != null  and areaName != ''  ">area_name,</if>
            <if test="address != null  and address != ''  ">address,</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''  ">affiliated_unit,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="projectid != null  ">#{projectid},</if>
            <if test="areaName != null  and areaName != ''  ">#{areaName},</if>
            <if test="address != null  and address != ''  ">#{address},</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''  ">#{affiliatedUnit},</if>
        </trim>
    </insert>

    <update id="updateSbProjectVideoArea" parameterType="SbProjectVideoArea">
        update sb_project_video_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectid != null  ">projectid = #{projectid},</if>
            <if test="areaName != null  and areaName != ''  ">area_name = #{areaName},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="affiliatedUnit != null  and affiliatedUnit != ''  ">affiliated_unit = #{affiliatedUnit},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSbProjectVideoAreaById" parameterType="Integer">
        delete from sb_project_video_area where id = #{id}
    </delete>
	
    <delete id="deleteSbProjectVideoAreaByIds" parameterType="String">
        delete from sb_project_video_area where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <resultMap type="SbJTArea" id="getVideoListJTResult">

        <result property="areaName"    column="area_name"    />
        <collection property="projectList" ofType="ProjectVideoJT"  >
            <result property="pid"    column="pid"    />
            <result property="projectName"    column="project_name"    />
            <result property="projectAddress"    column="project_address"    />
            <result property="remark"    column="remark"    />
            <result property="projectDept"    column="project_dept"    />
            <result property="phone"    column="phone"    />
            <result property="projectPrincipal"    column="project_principal"    />
            <result property="djorzcb"    column="djorzcb"    />
            <result property="djorzcbType"    column="djorzcb_type"    />
            <collection property="cList" ofType="Construction"  >
                <result property="constructionName"    column="construction_name"    />
                <result property="constructionType"    column="title"    />
                <result property="contacts"    column="contacts"    />
                <result property="mobilePhone"    column="mobile_phone"    />
            </collection>
            <collection property="videoList" ofType="Video"  >
                <result property="isControl"    column="is_control"    />
                <result property="videoSn"    column="video_sn"    />
                <result property="videoName"    column="video_name"    />
                <result property="url"    column="url"    />
                <result property="picUrl"    column="picUrl"    />
                <result property="hdUrl"    column="hdurl"    />
                <result property="longitude"    column="longitude"    />
                <result property="latitude"    column="latitude"    />
                <result property="factory"    column="factory"    />
                <result property="channelNo"    column="channelNo"    />
            </collection>
        </collection>
    </resultMap>
    <select id="getVideoListJT" parameterType="Integer" resultMap="getVideoListJTResult">

        		select p.djorzcb,p.djorzcb_type,v.hdurl,v.channelNo,v.picUrl,v.longitude,v.latitude,v.factory,cc.mobile_phone,cc.contacts,a.area_name,p.id pid,p.project_name,p.project_address,p.project_dept,p.phone,p.project_principal,p.remark,v.url,v.is_control,v.video_sn,v.video_name,cc.construction_name,d.title  from
				sb_project_video_area a left  join hj_project p on p.id=a.projectid left join sb_project_video v on v.area_id=a.id
			left	join hj_construction_project c on c.project_id=p.id left join hj_construction_company cc on c.construction_id=cc.id left join hj_dictionaries d on cc.company_type=d.id
				where a.projectid in (select b.id from hj_company_project a
    INNER JOIN hj_project b on (a.project_id=b.id)
    where 1=1
        and a.path like CONCAT((select path from hj_company_project where company_id=#{cid} LIMIT 1), '%')
        and a.project_id is not null) and (cc.show_state=1 or cc.show_state  is null)

    </select>
    <resultMap type="VideoPicUrl" id="getVideoPicUrlResult">

        <result property="pid"    column="projectId"    />
            <collection property="videoList" ofType="SbProjectVideo"  >
                <result property="id"    column="vid"    />
                <result property="videoSn"    column="video_sn"    />
                <result property="picUrl"    column="picUrl"    />
                <result property="channelNo"    column="channelNo"    />
                <result property="factory"    column="factory"    />
            </collection>

    </resultMap>
    <select id="getVideoPicUrl"  resultMap="getVideoPicUrlResult">
select a.projectId , v.id vid,v.video_sn,v.picUrl,v.channelNo,v.factory from sb_project_video_area a left join sb_project_video v on a.id=v.area_id

    </select>
    <resultMap type="ProjectVideoJT" id="getVideoListResult">
        <result property="pid"    column="pid"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectAddress"    column="project_address"    />
        <result property="remark"    column="remark"    />
        <result property="projectDept"    column="project_dept"    />
        <result property="phone"    column="phone"    />
        <result property="projectPrincipal"    column="project_principal"    />
        <result property="djorzcb"    column="djorzcb"    />
        <result property="djorzcbType"    column="djorzcb_type"    />
        <collection property="cList" ofType="Construction"  >
            <result property="constructionName"    column="construction_name"    />
            <result property="constructionType"    column="title"    />
            <result property="contacts"    column="contacts"    />
            <result property="mobilePhone"    column="mobile_phone"    />
        </collection>
        <collection property="videoList" ofType="Video"  >
            <result property="isControl"    column="is_control"    />
            <result property="videoSn"    column="video_sn"    />
            <result property="videoName"    column="video_name"    />
            <result property="url"    column="url"    />
            <result property="picUrl"    column="picUrl"    />
            <result property="hdUrl"    column="hdurl"    />
            <result property="longitude"    column="longitude"    />
            <result property="latitude"    column="latitude"    />
            <result property="factory"    column="factory"    />
            <result property="channelNo"    column="channelNo"    />
        </collection>

    </resultMap>
    <select id="getVideoList" parameterType="Integer" resultMap="getVideoListResult">

        		select v.channelNo,p.djorzcb,p.djorzcb_type,v.hdurl,v.picUrl,v.longitude,v.latitude,v.factory,cc.mobile_phone,cc.contacts,p.id pid,p.project_name,p.project_address,p.project_dept,p.phone,p.project_principal,p.remark,v.url,v.is_control,v.video_sn,v.video_name,cc.construction_name,d.title  from
				sb_project_video_area a left  join hj_project p on p.id=a.projectid left join sb_project_video v on v.area_id=a.id
			left	join hj_construction_project c on c.project_id=p.id left join hj_construction_company cc on c.construction_id=cc.id left join hj_dictionaries d on cc.company_type=d.id
				where a.projectid =#{pid}
    </select>
    <resultMap type="PvideoJT" id="getPvideoListResult">
        <result property="pid"    column="pid"    />
        <result property="projectName"    column="project_name"    />
        <collection property="videoList" ofType="Video"  >
            <result property="videoName"    column="video_name"    />
            <result property="url"    column="url"    />
            <result property="hdUrl"    column="hdurl"    />
        </collection>
    </resultMap>
    <select id="getPvideoList" parameterType="Integer" resultMap="getPvideoListResult">

  		select p.id pid,p.project_name,v.url,v.hdurl,v.video_name from sb_project_video v join sb_project_video_area a on a.id=v.area_id join hj_project p on p.id=a.projectid where p.id in (select b.id from hj_company_project a
    INNER JOIN hj_project b on (a.project_id=b.id)
    where 1=1
        and a.path like CONCAT((select path from hj_company_project where company_id=#{cid} LIMIT 1), '%')
        and a.project_id is not null)
    </select>


</mapper>