<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.sbProjectVideo.mapper.SbProjectVideoMapper">

    <resultMap type="SbProjectVideo" id="SbProjectVideoResult">
        <result property="id" column="id"/>
        <result property="areaId" column="area_id"/>
        <result property="url" column="url"/>
        <result property="account" column="account"/>
        <result property="videoName" column="video_name"/>
        <result property="videoType" column="video_type"/>
        <result property="videoAddress" column="video_address"/>
        <result property="videoWay" column="video_way"/>
        <result property="contacts" column="contacts"/>
        <result property="contactsWay" column="contacts_way"/>
        <result property="department" column="department"/>
        <result property="position" column="position"/>
        <result property="photograph" column="photograph"/>
        <result property="videoSn" column="video_sn"/>
        <result property="isControl" column="is_control"/>
        <result property="hjCode" column="hj_code"/>
        <result property="flowCard" column="flow_card"/>
        <result property="shipmentDate" column="shipment_Date"/>
        <result property="factory" column="factory"/>

    </resultMap>

    <sql id="selectSbProjectVideoVo">
        select factory,hj_code,flow_card,shipment_Date,id, area_id, url, account, video_name, video_type, video_address, video_way, contacts, contacts_way, department, `position`, photograph, video_sn, is_control from sb_project_video
    </sql>

    <select id="selectSbProjectVideoList" parameterType="SbProjectVideo" resultMap="SbProjectVideoResult">
        <include refid="selectSbProjectVideoVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="areaId != null "> and area_id = #{areaId}</if>
             <if test="url != null  and url != '' "> and url = #{url}</if>
             <if test="account != null  and account != '' "> and account = #{account}</if>
             <if test="videoName != null  and videoName != '' "> and video_name = #{videoName}</if>
             <if test="videoType != null  and videoType != '' "> and video_type = #{videoType}</if>
             <if test="videoAddress != null  and videoAddress != '' "> and video_address = #{videoAddress}</if>
             <if test="videoWay != null  and videoWay != '' "> and video_way = #{videoWay}</if>
             <if test="contacts != null  and contacts != '' "> and contacts = #{contacts}</if>
             <if test="contactsWay != null  and contactsWay != '' "> and contacts_way = #{contactsWay}</if>
             <if test="department != null  and department != '' "> and department = #{department}</if>
             <if test="position != null  and position != '' "> and `position` = #{position}</if>
             <if test="photograph != null  and photograph != '' "> and photograph = #{photograph}</if>
             <if test="videoSn != null  and videoSn != '' "> and video_sn = #{videoSn}</if>
             <if test="isControl != null  and isControl != '' "> and is_control = #{isControl}</if>
             <if test="hjCode != null  and hjCode != '' "> and hj_code = #{hjCode}</if>
             <if test="flowCard != null  and flowCard != '' "> and flow_card = #{flowCard}</if>
             <if test="shipmentDate != null  and shipmentDate != '' "> and shipment_Date = #{shipmentDate}</if>
         </where>
        order by id desc
    </select>

    <select id="selectSbProjectVideoById" parameterType="Integer" resultMap="SbProjectVideoResult">
        <include refid="selectSbProjectVideoVo"/>
        where id = #{id}
    </select>
    <select id="selectSbProjectVideoByProjectId" parameterType="Integer" resultMap="SbProjectVideoResult">
        select v.id, v.area_id, v.url, v.account, v.video_name, v.video_type, v.video_address, v.video_way, v.contacts, v.contacts_way, v.department, v.`position`,v.photograph, v.video_sn, v.is_control
        from sb_project_video v left join  sb_project_video_area a  on a.id = v.area_id
        where a.projectid =#{projectId}
       order by v.id desc
    </select>

    <insert id="insertSbProjectVideo" parameterType="SbProjectVideo">
        insert into sb_project_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  ">id,</if>
            <if test="areaId != null  ">area_id,</if>
            <if test="url != null  and url != ''  ">url,</if>
            <if test="account != null  and account != ''  ">account,</if>
            <if test="videoName != null  and videoName != ''  ">video_name,</if>
            <if test="videoType != null  and videoType != ''  ">video_type,</if>
            <if test="videoAddress != null  and videoAddress != ''  ">video_address,</if>
            <if test="videoWay != null  and videoWay != ''  ">video_way,</if>
            <if test="contacts != null  and contacts != ''  ">contacts,</if>
            <if test="contactsWay != null  and contactsWay != ''  ">contacts_way,</if>
            <if test="department != null  and department != ''  ">department,</if>
            <if test="position != null  and position != ''  ">`position`,</if>
            <if test="photograph != null  and photograph != ''  ">photograph,</if>
            <if test="videoSn != null  and videoSn != ''  ">video_sn,</if>
            <if test="isControl != null  and isControl != ''  ">is_control,</if>
            <if test="hjCode != null  and hjCode != ''  ">hj_code,</if>
            <if test="flowCard != null  and flowCard != ''  ">flow_card,</if>
            <if test="shipmentDate != null  and shipmentDate != ''  ">shipment_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  ">#{id},</if>
            <if test="areaId != null  ">#{areaId},</if>
            <if test="url != null  and url != ''  ">#{url},</if>
            <if test="account != null  and account != ''  ">#{account},</if>
            <if test="videoName != null  and videoName != ''  ">#{videoName},</if>
            <if test="videoType != null  and videoType != ''  ">#{videoType},</if>
            <if test="videoAddress != null  and videoAddress != ''  ">#{videoAddress},</if>
            <if test="videoWay != null  and videoWay != ''  ">#{videoWay},</if>
            <if test="contacts != null  and contacts != ''  ">#{contacts},</if>
            <if test="contactsWay != null  and contactsWay != ''  ">#{contactsWay},</if>
            <if test="department != null  and department != ''  ">#{department},</if>
            <if test="position != null  and position != ''  ">#{position},</if>
            <if test="photograph != null  and photograph != ''  ">#{photograph},</if>
            <if test="videoSn != null  and videoSn != ''  ">#{videoSn},</if>
            <if test="isControl != null  and isControl != ''  ">#{isControl},</if>
            <if test="hjCode != null  and hjCode != ''  ">#{hjCode},</if>
            <if test="flowCard != null  and flowCard != ''  ">#{flowCard},</if>
            <if test="shipmentDate != null  and shipmentDate != ''  ">#{shipmentDate},</if>
        </trim>
    </insert>

    <update id="updateSbProjectVideo" parameterType="SbProjectVideo">
        update sb_project_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaId != null  ">area_id = #{areaId},</if>
            <if test="url != null  and url != ''  ">url = #{url},</if>
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="videoName != null  and videoName != ''  ">video_name = #{videoName},</if>
            <if test="videoType != null  and videoType != ''  ">video_type = #{videoType},</if>
            <if test="videoAddress != null  and videoAddress != ''  ">video_address = #{videoAddress},</if>
            <if test="videoWay != null  and videoWay != ''  ">video_way = #{videoWay},</if>
            <if test="contacts != null  and contacts != ''  ">contacts = #{contacts},</if>
            <if test="contactsWay != null  and contactsWay != ''  ">contacts_way = #{contactsWay},</if>
            <if test="department != null  and department != ''  ">department = #{department},</if>
            <if test="position != null  and position != ''  ">`position` = #{position},</if>
            <if test="photograph != null  and photograph != ''  ">photograph = #{photograph},</if>
            <if test="videoSn != null  and videoSn != ''  ">video_sn= #{videoSn},</if>
            <if test="isControl != null  and isControl != ''  ">is_control= #{isControl},</if>
            <if test="hjCode != null  and hjCode != ''  ">hj_code= #{hjCode},</if>
            <if test="flowCard != null  and flowCard != ''  ">flow_card= #{flowCard},</if>
            <if test="shipmentDate != null  and shipmentDate != ''  ">shipment_date= #{shipmentDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSbProjectVideoById" parameterType="Integer">
        delete from sb_project_video where id = #{id}
    </delete>

    <delete id="deleteSbProjectVideoByIds" parameterType="String">
        delete from sb_project_video where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="updateSbProjectVideoPicUrl" parameterType="SbProjectVideo">
       update sb_project_video set picUrl=#{picUrl} where id = #{id}
    </update>
    <update id="updateVideoCoordinate" parameterType="SbProjectVideo">
       update sb_project_video set longitude=#{longitude},latitude=#{latitude} where video_sn = #{videoSn}
    </update>
</mapper>