<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.secretkey.mapper.SecretkeyMapper">
    
    <resultMap type="Secretkey" id="SecretkeyResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="pid"    column="pid"    />
        <result property="apiKey"    column="api_key"    />
        <result property="clientSerail"    column="client_serail"    />
        <result property="projectCode"    column="project_code"    />
        <result property="engCode"    column="eng_code"    />
        <result property="apiVersion"    column="api_version"    />
        <result property="apiSecret"    column="api_secret"    />
    </resultMap>
	
	<sql id="selectSecretkeyVo">
        select id, `type`, pid, api_key, client_serail, project_code, eng_code, api_version, api_secret from zh_secretkey
    </sql>
	
    <select id="selectSecretkeyList" parameterType="Secretkey" resultMap="SecretkeyResult">
        <include refid="selectSecretkeyVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="type != null  and type != '' "> and type = #{type}</if>
             <if test="pid != null "> and pid = #{pid}</if>
             <if test="apiKey != null  and apiKey != '' "> and api_key = #{apiKey}</if>
             <if test="clientSerail != null  and clientSerail != '' "> and client_serail = #{clientSerail}</if>
             <if test="projectCode != null  and projectCode != '' "> and project_code = #{projectCode}</if>
             <if test="engCode != null  and engCode != '' "> and eng_code = #{engCode}</if>
             <if test="apiVersion != null  and apiVersion != '' "> and api_version = #{apiVersion}</if>
             <if test="apiSecret != null  and apiSecret != '' "> and api_secret = #{apiSecret}</if>
         </where>
    </select>
    
    <select id="selectSecretkeyById" parameterType="Long" resultMap="SecretkeyResult">
        <include refid="selectSecretkeyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSecretkey" parameterType="Secretkey">
        insert into zh_secretkey
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="type != null  and type != ''  ">type,</if>
			<if test="pid != null  ">pid,</if>
			<if test="apiKey != null  and apiKey != ''  ">api_key,</if>
			<if test="clientSerail != null  and clientSerail != ''  ">client_serail,</if>
			<if test="projectCode != null  and projectCode != ''  ">project_code,</if>
			<if test="engCode != null  and engCode != ''  ">eng_code,</if>
			<if test="apiVersion != null  and apiVersion != ''  ">api_version,</if>
			<if test="apiSecret != null  and apiSecret != ''  ">api_secret,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="type != null  and type != ''  ">#{type},</if>
			<if test="pid != null  ">#{pid},</if>
			<if test="apiKey != null  and apiKey != ''  ">#{apiKey},</if>
			<if test="clientSerail != null  and clientSerail != ''  ">#{clientSerail},</if>
			<if test="projectCode != null  and projectCode != ''  ">#{projectCode},</if>
			<if test="engCode != null  and engCode != ''  ">#{engCode},</if>
			<if test="apiVersion != null  and apiVersion != ''  ">#{apiVersion},</if>
			<if test="apiSecret != null  and apiSecret != ''  ">#{apiSecret},</if>
         </trim>
    </insert>
	 
    <update id="updateSecretkey" parameterType="Secretkey">
        update zh_secretkey
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null  and type != ''  ">type = #{type},</if>
            <if test="pid != null  ">pid = #{pid},</if>
            <if test="apiKey != null  and apiKey != ''  ">api_key = #{apiKey},</if>
            <if test="clientSerail != null  and clientSerail != ''  ">client_serail = #{clientSerail},</if>
            <if test="projectCode != null  and projectCode != ''  ">project_code = #{projectCode},</if>
            <if test="engCode != null  and engCode != ''  ">eng_code = #{engCode},</if>
            <if test="apiVersion != null  and apiVersion != ''  ">api_version = #{apiVersion},</if>
            <if test="apiSecret != null  and apiSecret != ''  ">api_secret = #{apiSecret},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteSecretkeyById" parameterType="Long">
        delete from zh_secretkey where id = #{id}
    </delete>
	
    <delete id="deleteSecretkeyByIds" parameterType="String">
        delete from zh_secretkey where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>