<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hujiang.project.zhgd.hjZhgdVehicle.mapper.VehicleMapper">
    
    <resultMap type="Vehicle" id="VehicleResult">
        <result property="id"    column="id"    />
        <result property="recordId"    column="RecordId"    />
        <result property="vehicleNo"    column="VehicleNo"    />
        <result property="plateColor"    column="PlateColor"    />
        <result property="deptID"    column="DeptID"    />
        <result property="cameraMac"    column="Camera_Mac"    />
        <result property="liftType"    column="LiftType"    />
        <result property="liftTime"    column="LiftTime"    />
        <result property="inOut"    column="InOut"    />
        <result property="img"    column="img"    />
        <result property="cardType"    column="CardType"    />
        <result property="color"    column="color"    />
        <result property="orderId"    column="orderId"    />
        <result property="name"    column="name"    />
        <result property="projectname"    column="project_name"    />
        <result property="gateinname"    column="gateinname"    />
        <result property="operatorin"    column="operatorin"    />
        <result property="imgUrl"    column="img_url"    />
        <result property="carType"    column="carType"    />
        <result property="carTypedesc"    column="car_typedesc"    />
    </resultMap>


	
	<sql id="selectVehicleVo">
        select id , RecordId , VehicleNo, PlateColor, DeptID, Camera_Mac, LiftType, LiftTime, `InOut`, img, CardType,color,orderId,`name`,gateinname,operatorin
        from hj_zhgd_vehicle
    </sql>

    <select id="todaycount" parameterType="Vehicle" resultMap="VehicleResult">
        SELECT COUNT(VehicleNo) as `count` FROM hj_zhgd_vehicle
        WHERE LiftTime LIKE CONCAT(CONCAT(#{liftTime}), '%') and DeptID = #{deptID}
    </select>

    <select id="list" parameterType="Vehicle" resultMap="VehicleResult">
        select id , RecordId , VehicleNo, PlateColor, DeptID, Camera_Mac, LiftType, LiftTime, `InOut`, img, CardType,color,orderId,`name`,gateinname,operatorin
        from hj_zhgd_vehicle
        WHERE LiftTime LIKE CONCAT(CONCAT(#{liftTime}), '%') and DeptID = #{deptID}
        order by id DESC
    </select>

    <select id="selectscenes"  parameterType="Vehicle" resultMap="VehicleResult">
        SELECT MAX(LiftTime),id, RecordId , VehicleNo, PlateColor, DeptID, Camera_Mac, LiftType, LiftTime, `InOut`, CardType,color,orderId,`name`,gateinname,operatorin FROM hj_zhgd_vehicle
        <where>
                and DeptID = #{deptID}
                and RecordId = #{recordId}
                and `InOut` = #{inOut}
        </where>
        order by `id` desc
    </select>

    <select id="selectscene"  parameterType="Vehicle" resultMap="VehicleResult">
        SELECT MAX(LiftTime),id, RecordId , VehicleNo, PlateColor, DeptID, Camera_Mac, LiftType, LiftTime, `InOut`, img, CardType,color,orderId,`name`,gateinname,operatorin FROM hj_zhgd_vehicle
        <where>
            <if test="deptID != null and deptID != ''">
               and DeptID = #{deptID}
            </if>
            <if test="cardType != null ">
                and CardType = #{cardType}
            </if>
            <if test="carType != null ">
                and carType = #{carType}
            </if>
            <if test="liftTime != null">
                and LiftTime <![CDATA[ >=]]> #{liftTime}
            </if>
            <if test="vehicleNo != null and vehicleNo != null">
                and VehicleNo LIKE CONCAT(CONCAT(#{vehicleNo}), '%')
            </if>
        </where>
        GROUP BY `RecordId`
        order by `id` desc
    </select>

    <select id="countcar" parameterType="Vehicle" resultMap="VehicleResult">
        select count(id) as `count`,(SELECT pkcount from hj_zhgd_pkcount where deptID = #{deptID} limit 1) as pkcount 	from hj_zhgd_vehicle
        where DeptID= #{deptID} and LiftTime like CONCAT(CONCAT(#{liftTime}), '%')
    </select>

    <select id="selectAll"  parameterType="Vehicle" resultMap="VehicleResult">
        select v.id , RecordId , VehicleNo, PlateColor, v.DeptID, Camera_Mac, LiftType, LiftTime,
        `InOut`, img, CardType,color,orderId,`name`,gateinname,operatorin
        from hj_zhgd_vehicle v INNER JOIN hj_zhgd_pkcount p ON v.gateinname = p.snName
        <where>
                and v.DeptID = #{deptID}
            <if test="sn != null and sn != '' " >
                and p.sn=#{sn}
            </if>
            <if test="liftTime != null ">
                and LiftTime LIKE "${liftTime}%"
            </if>
            <if test="inOut != null and inOut != '' and inOut != 0">
                and `inOut` = #{inOut}
            </if>
            <if test="all != null and all != '' ">
                and (`name` LIKE CONCAT('%',#{all},'%')  or  gateinname LIKE CONCAT('%',#{all}, '%'))
            </if>
            <if test="carType != null "> and  carType = #{carType}</if>
        </where>
        order by v.id desc
    </select>

    <select id="selectVehicleList" parameterType="Vehicle" resultMap="VehicleResult">
        <include refid="selectVehicleVo"/>
        <where>  
            <if test="id !=0"> and id = #{id}</if>
             <if test="recordId != null  and recordId != '' "> and RecordId = #{recordId}</if>
             <if test="vehicleNo != null  and vehicleNo != '' "> and VehicleNo = #{vehicleNo}</if>
             <if test="plateColor != null  and plateColor != '' "> and PlateColor = #{plateColor}</if>
             <if test="deptID != 0 "> and DeptID = #{deptID}</if>
             <if test="cameraMac != null  and cameraMac != '' "> and Camera_Mac = #{cameraMac}</if>
             <if test="liftType != null  and liftType != '' "> and LiftType = #{liftType}</if>
             <if test="liftTime != null "> and LiftTime = #{liftTime}</if>
             <if test="inOut != 0 "> and InOut = #{inOut}</if>
             <if test="img != null  and img != '' "> and img = #{img}</if>
             <if test="cardType != 0 "> and CardType = #{cardType}</if>
             <if test="color != null  and color != '' ">
                <if test="color == '黄色'">
                    and color = #{color}
                </if>
                <if test="color != '黄色'">
                    and color != '黄色'
                </if>
             </if>
            <if test="orderId != null  and orderId != '' "> and orderId = #{orderId}</if>
            <if test="carType != null  "> and carType = #{carType}</if>
         </where>
    </select>
    
    <select id="selectVehicleById" parameterType="Integer" resultMap="VehicleResult">
        <include refid="selectVehicleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertVehicle" parameterType="Vehicle">
        insert into hj_zhgd_vehicle
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="recordId != null  and recordId != ''  ">RecordId,</if>
			<if test="vehicleNo != null  and vehicleNo != ''  ">VehicleNo,</if>
			<if test="plateColor != null  and plateColor != ''  ">PlateColor,</if>
			<if test="deptID != null  ">DeptID,</if>
			<if test="cameraMac != null  and cameraMac != ''  ">Camera_Mac,</if>
			<if test="liftType != null  and liftType != ''  ">LiftType,</if>
			<if test="liftTime != null  ">LiftTime,</if>
			<if test="inOut != null  ">`InOut`,</if>
			<if test="img != null  and img != ''  ">img,</if>
			<if test="cardType != null  ">CardType,</if>
			<if test="color != null  and color != ''  ">color,</if>
            <if test="orderId != null  and orderId != ''  ">orderId,</if>
            <if test="gateinname != null  and gateinname != ''  ">gateinname,</if>
            <if test="carType != null  ">carType,</if>
            <if test="name != null  ">`name`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="recordId != null  and recordId != ''  ">#{recordId},</if>
			<if test="vehicleNo != null  and vehicleNo != ''  ">#{vehicleNo},</if>
			<if test="plateColor != null  and plateColor != ''  ">#{plateColor},</if>
			<if test="deptID != null  ">#{deptID},</if>
			<if test="cameraMac != null  and cameraMac != ''  ">#{cameraMac},</if>
			<if test="liftType != null  and liftType != ''  ">#{liftType},</if>
			<if test="liftTime != null  ">#{liftTime},</if>
			<if test="inOut != null  ">#{inOut},</if>
			<if test="img != null  and img != ''  ">#{img},</if>
			<if test="cardType != null  ">#{cardType},</if>
			<if test="color != null  and color != ''  ">#{color},</if>
            <if test="orderId != null  and orderId != ''  ">#{orderId},</if>
            <if test="gateinname != null  and gateinname != ''  ">#{gateinname},</if>
            <if test="carType != null  ">#{carType},</if>
            <if test="name != null  ">#{name},</if>
         </trim>
    </insert>
	 
    <update id="updateVehicle" parameterType="Vehicle">
        update hj_zhgd_vehicle
        <trim prefix="SET" suffixOverrides=",">
            <if test="recordId != null  and recordId != ''  ">RecordId = #{recordId},</if>
            <if test="vehicleNo != null  and vehicleNo != ''  ">VehicleNo = #{vehicleNo},</if>
            <if test="plateColor != null  and plateColor != ''  ">PlateColor = #{plateColor},</if>
            <if test="deptID != null  ">DeptID = #{deptID},</if>
            <if test="cameraMac != null  and cameraMac != ''  ">Camera_Mac = #{cameraMac},</if>
            <if test="liftType != null  and liftType != ''  ">LiftType = #{liftType},</if>
            <if test="liftTime != null  ">LiftTime = #{liftTime},</if>
            <if test="inOut != null  ">InOut = #{inOut},</if>
            <if test="img != null  and img != ''  ">img = #{img},</if>
            <if test="cardType != null  ">CardType = #{cardType},</if>
            <if test="color != null  and color != ''  ">color = #{color},</if>
            <if test="orderId != null  and orderId != ''  ">color = #{orderId},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="update" parameterType="Vehicle">
        update hj_zhgd_vehicle
        <trim prefix="SET" suffixOverrides=",">
            <if test="img != null  and img != ''  ">img = #{img},</if>
        </trim>
        where RecordId = #{recordId} and `InOut` = #{inOut}
    </update>

    <update id="updatezhgd" parameterType="Vehicle">
        update hj_zhgd_vehicle
         set car_typedesc = #{carTypedesc}
        where DeptID = #{deptID}
    </update>


    <update id="updateVehicleIn" parameterType="Vehicle">
        update hj_zhgd_vehicle
         set VehicleNo = #{vehicleNo},LiftTime = #{liftTime},CardType = #{cardType},LiftType = #{liftType},`InOut` = #{inOut}
        where  RecordId = #{recordId} and  DeptID = #{deptID}
    </update>

	<delete id="deleteVehicleById" parameterType="Integer">
        delete from hj_zhgd_vehicle where id = #{id}
    </delete>
	
    <delete id="deleteVehicleByIds" parameterType="String">
        delete from hj_zhgd_vehicle where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>