<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sbProjectVideo-edit" th:object="${sbProjectVideo}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">项目视频区id：</label>
				<div class="col-sm-8">
					<input id="areaId" name="areaId" th:field="*{areaId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">视频地址：</label>
				<div class="col-sm-8">
					<input id="url" name="url" th:field="*{url}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">视频账户：</label>
				<div class="col-sm-8">
					<input id="account" name="account" th:field="*{account}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">摄像头名称：</label>
				<div class="col-sm-8">
					<input id="videoName" name="videoName" th:field="*{videoName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">摄像头型号：</label>
				<div class="col-sm-8">
					<input id="videoType" name="videoType" th:field="*{videoType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">摄像头所在位置：</label>
				<div class="col-sm-8">
					<input id="videoAddress" name="videoAddress" th:field="*{videoAddress}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">监控方式：</label>
				<div class="col-sm-8">
					<input id="videoWay" name="videoWay" th:field="*{videoWay}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系人：</label>
				<div class="col-sm-8">
					<input id="contacts" name="contacts" th:field="*{contacts}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">联系方式：</label>
				<div class="col-sm-8">
					<input id="contactsWay" name="contactsWay" th:field="*{contactsWay}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所属部门：</label>
				<div class="col-sm-8">
					<input id="department" name="department" th:field="*{department}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">职位：</label>
				<div class="col-sm-8">
					<input id="position" name="position" th:field="*{position}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">所在位置照片：</label>
				<div class="col-sm-8">
					<input id="photograph" name="photograph" th:field="*{photograph}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/sbProjectVideo";
		$("#form-sbProjectVideo-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-sbProjectVideo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
