<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-moredianGroupDeviceConfiguration-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">门禁启用时间（hh:mm）：</label>
				<div class="col-sm-8">
					<input id="dayBeginTime" name="dayBeginTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">门禁结束时间（hh:mm）：</label>
				<div class="col-sm-8">
					<input id="dayEndTime" name="dayEndTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">1,2,3,4,5,6,7：</label>
				<div class="col-sm-8">
					<input id="weekdays" name="weekdays" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">魔点群组ID：</label>
				<div class="col-sm-8">
					<input id="groupId" name="groupId" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "moredian/moredianGroupDeviceConfiguration"
		$("#form-moredianGroupDeviceConfiguration-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-moredianGroupDeviceConfiguration-add').serialize());
	        }
	    }
	</script>
</body>
</html>
