<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sbApiFaceEquipment-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备编号：</label>
				<div class="col-sm-8">
					<input id="equipmentId" name="equipmentId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">in:标识为上班考勤设备，out:标识为下班考勤设备，all:标识为上下班考勤设备（13:00之前为上班考勤）：</label>
				<div class="col-sm-8">
					<input id="inOrOut" name="inOrOut" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备厂家：</label>
				<div class="col-sm-8">
					<input id="equipmentManufacturer" name="equipmentManufacturer" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/sbApiFaceEquipment"
		$("#form-sbApiFaceEquipment-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-sbApiFaceEquipment-add').serialize());
	        }
	    }
	</script>
</body>
</html>
