<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hjConstructionCompany-edit" th:object="${hjConstructionCompany}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">
				<label class="col-sm-3 control-label">所属项目：</label>
				<div class="col-sm-8">
					<!--<select id="companyType" name="companyType" class="form-control"  disabled>-->
						<!--<option value="">请选择项目</option>-->
						<!--<option th:each="p:${project}" th:value="${p.id}" th:selected="${pid==p.id}" th:text="${p.projectName}"></option>-->
					<!--</select>-->
					<input  th:value="${project.projectName}" class="form-control" type="text" readonly>
					<input id="pid" name="pid" th:value="${project.id}" class="form-control" type="hidden">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">参建单位名称：</label>
				<div class="col-sm-8">
					<input id="constructionName" name="constructionName" th:field="*{constructionName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">简称：</label>
				<div class="col-sm-8">
					<input id="shortName" name="shortName" th:field="*{shortName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">注册资金（：万元）：</label>
				<div class="col-sm-8">
					<input id="capital" name="capital" th:field="*{capital}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">单位类型：</label>
				<div class="col-sm-8">
					<select id="companyType" name="companyType" class="form-control" th:field="*{companyType}">
						<option value="">请选择单位类型</option>
						<option th:each="p:${nuit}" th:value="${p.id}" th:text="${p.title}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">法人代表：</label>
				<div class="col-sm-8">
					<input id="legalPerson" name="legalPerson" th:field="*{legalPerson}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">社会统一信用代码：</label>
				<div class="col-sm-8">
					<input id="suid" name="suid" th:field="*{suid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">组织机构代码：</label>
				<div class="col-sm-8">
					<input id="organizationCode" name="organizationCode" th:field="*{organizationCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">基本账户开户银行：</label>
				<div class="col-sm-8">
					<input id="bankOpen" name="bankOpen" th:field="*{bankOpen}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">基本账户银行账户：</label>
				<div class="col-sm-8">
					<input id="bankNum" name="bankNum" th:field="*{bankNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开户地址：</label>
				<div class="col-sm-8">
					<input id="bankAddress" name="bankAddress" th:field="*{bankAddress}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单位详细地址：</label>
				<div class="col-sm-8">
					<input id="address" name="address" th:field="*{address}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">负责人：</label>
				<div class="col-sm-8">
					<input id="contacts" name="contacts" th:field="*{contacts}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">电话：</label>
				<div class="col-sm-8">
					<input id="mobilePhone" name="mobilePhone" th:field="*{mobilePhone}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">电子邮箱：</label>
				<div class="col-sm-8">
					<input id="email" name="email" th:field="*{email}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-8">
					<!--<input id="showState" name="showState" th:field="*{showState}" class="form-control" type="text">-->
					<input type="radio"  name="showState"  th:value="0" th:field="*{showState}"/>显示
					<input type="radio"  name="showState"  th:value="1" th:field="*{showState}"/>隐藏
				</div>
			</div>


		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/hjConstructionCompany";
		$("#form-hjConstructionCompany-edit").validate({
			rules:{
                companyName:{
                    required:true,
                },
                shortName:{
                    required:true,
                },
                capital:{
                    number:true,
                },
                companyType:{
                    required:true,
                },
                contacts:{
                    required:true,
                },
                mobilePhone:{
                    required:true,
                },
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-hjConstructionCompany-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
