<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hjFileSize-edit" th:object="${hjFileSize}">
            <input id="projectId" name="projectId" th:field="*{projectId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">存储空间大小M：</label>
				<div class="col-sm-8">
					<input id="fileSiz" name="fileSiz" th:field="*{fileSiz}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/hjFileSize";
		$("#form-hjFileSize-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-hjFileSize-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
