<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sbCraneWorkloop-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备编号--32位：</label>
				<div class="col-sm-8">
					<input id="deviceNo" name="deviceNo" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作循环开始时刻：</label>
				<div class="col-sm-8">
					<input id="startTime" name="startTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工作循环结束时刻：</label>
				<div class="col-sm-8">
					<input id="endTime" name="endTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最高力矩比：</label>
				<div class="col-sm-8">
					<input id="maxMomentRatio" name="maxMomentRatio" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">超力矩发生次数：</label>
				<div class="col-sm-8">
					<input id="exceedingNum" name="exceedingNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最大风速 m/s：</label>
				<div class="col-sm-8">
					<input id="maxWindSpeed" name="maxWindSpeed" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否发生超风速(0.否1.是)：</label>
				<div class="col-sm-8">
					<input id="isOverWindSpeed" name="isOverWindSpeed" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最大幅度：</label>
				<div class="col-sm-8">
					<input id="maxRange" name="maxRange" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最大幅度：</label>
				<div class="col-sm-8">
					<input id="maxHeight" name="maxHeight" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备编号：</label>
				<div class="col-sm-8">
					<input id="hxzid" name="hxzid" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/sbCraneWorkloop"
		$("#form-sbCraneWorkloop-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-sbCraneWorkloop-add').serialize());
	        }
	    }
	</script>
</body>
</html>
