<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sbDoorLock-edit" th:object="${sbDoorLock}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">配电箱编号：</label>
				<div class="col-sm-8">
					<input id="electricityBoxId" name="electricityBoxId" th:field="*{electricityBoxId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">锁状态：</label>
				<div class="col-sm-8">
					<input id="lockType" name="lockType" th:field="*{lockType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">门状态：</label>
				<div class="col-sm-8">
					<input id="doorType" name="doorType" th:field="*{doorType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">数据更新时间：</label>
				<div class="col-sm-8">
					<input id="handleTime" name="handleTime" th:field="*{handleTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开门时间：</label>
				<div class="col-sm-8">
					<input id="opendoorTime" name="opendoorTime" th:field="*{opendoorTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关门时间：</label>
				<div class="col-sm-8">
					<input id="closedoorTime" name="closedoorTime" th:field="*{closedoorTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开锁时间：</label>
				<div class="col-sm-8">
					<input id="openlockTime" name="openlockTime" th:field="*{openlockTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">关锁时间：</label>
				<div class="col-sm-8">
					<input id="closelockTime" name="closelockTime" th:field="*{closelockTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/sbDoorLock";
		$("#form-sbDoorLock-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-sbDoorLock-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
