<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-hjWorkers-edit" th:object="${hjWorkers}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">姓名：</label>
				<div class="col-sm-8">
					<input id="empName" name="empName" th:field="*{empName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证号码：</label>
				<div class="col-sm-8">
					<input id="idCode" name="idCode" th:field="*{idCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">手机号码：</label>
				<div class="col-sm-8">
					<input id="empPhon" name="empPhon" th:field="*{empPhon}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">性别：</label>
				<div class="col-sm-8">
					<input id="empSex" name="empSex" th:field="*{empSex}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">民族：</label>
				<div class="col-sm-8">
					<input id="empNation" name="empNation" th:field="*{empNation}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证地址：</label>
				<div class="col-sm-8">
					<input id="idAddress" name="idAddress" th:field="*{idAddress}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">签发机关：</label>
				<div class="col-sm-8">
					<input id="idAgency" name="idAgency" th:field="*{idAgency}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">有效期限：</label>
				<div class="col-sm-8">
					<input id="idValiddate" name="idValiddate" th:field="*{idValiddate}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">出生日期：</label>
				<div class="col-sm-8">
					<input id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">籍贯：</label>
				<div class="col-sm-8">
					<input id="nativePlace" name="nativePlace" th:field="*{nativePlace}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否班组长(0否，1是)：</label>
				<div class="col-sm-8">
					<input id="isTeam" name="isTeam" th:field="*{isTeam}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">工种名称：</label>
				<div class="col-sm-8">
					<input id="jobName" name="jobName" th:field="*{jobName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开户行：</label>
				<div class="col-sm-8">
					<input id="empBankname" name="empBankname" th:field="*{empBankname}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行账号：</label>
				<div class="col-sm-8">
					<input id="empCardnum" name="empCardnum" th:field="*{empCardnum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户类型：</label>
				<div class="col-sm-8">
					<input id="accountType" name="accountType" th:field="*{accountType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开户地址：</label>
				<div class="col-sm-8">
					<input id="accountAddress" name="accountAddress" th:field="*{accountAddress}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">获得证书：</label>
				<div class="col-sm-8">
					<input id="credential" name="credential" th:field="*{credential}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">人脸照片：</label>
				<div class="col-sm-8">
					<input id="faceUrl" name="faceUrl" th:field="*{faceUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证人脸照片：</label>
				<div class="col-sm-8">
					<input id="empNaticeplace" name="empNaticeplace" th:field="*{empNaticeplace}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证正面照片：</label>
				<div class="col-sm-8">
					<input id="idphotoScan" name="idphotoScan" th:field="*{idphotoScan}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">身份证反面照片：</label>
				<div class="col-sm-8">
					<input id="idphotoScan2" name="idphotoScan2" th:field="*{idphotoScan2}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">银行卡照片：</label>
				<div class="col-sm-8">
					<input id="bankCardUrl" name="bankCardUrl" th:field="*{bankCardUrl}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createDate" name="createDate" th:field="*{createDate}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/hjWorkers";
		$("#form-hjWorkers-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-hjWorkers-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
