<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								设备编号：<input type="text" name="deviceNo"/>
							</li>

							<li>
								设备型号：<input type="text" name="model"/>
							</li>

							<li>
								设备名称：<input type="text" name="name"/>
							</li>

							<li>
								最大载重（T)：<input type="text" name="lLoadCapacity"/>
							</li>

							<li>
								最大高度(M)：<input type="text" name="lHeight"/>
							</li>

							<li>
								最大自由高度(M)：<input type="text" name="lHeight2"/>
							</li>

							<li>
								向下采集点输入方式：<input type="text" name="lUpcollect"/>
							</li>

							<li>
								向上采集点输入方式：<input type="text" name="lDowncollection"/>
							</li>

							<li>
								齿轮模数(0-20)：<input type="text" name="lGearmodules"/>
							</li>

							<li>
								下限位输入方式：<input type="text" name="lLowlimit"/>
							</li>

							<li>
								主接触器输出方式：<input type="text" name="lMContract"/>
							</li>

							<li>
								副接触器输出方式：<input type="text" name="lSContract"/>
							</li>

							<li>
								监控控制方式：<input type="text" name="lMonitorstyle"/>
							</li>

							<li>
								升节节数：<input type="text" name="lSections"/>
							</li>

							<li>
								升降机控制方式：<input type="text" name="lControlstyle"/>
							</li>

							<li>
								分时限载载重（T)：<input type="text" name="lLimitCapacity"/>
							</li>

							<li>
								设备编号：<input type="text" name="hxzid"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zhgd:sbElevatorAddparams:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="zhgd:sbElevatorAddparams:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zhgd:sbElevatorAddparams:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zhgd:sbElevatorAddparams:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zhgd:sbElevatorAddparams:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zhgd:sbElevatorAddparams:remove')}]];
        var prefix = ctx + "zhgd/sbElevatorAddparams";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "升降机参数  ",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'deviceNo', 
					title : '设备编号',
					sortable: true
				},
				{
					field : 'model', 
					title : '设备型号',
					sortable: true
				},
				{
					field : 'name', 
					title : '设备名称',
					sortable: true
				},
				{
					field : 'lLoadCapacity', 
					title : '最大载重（T)',
					sortable: true
				},
				{
					field : 'lHeight', 
					title : '最大高度(M)',
					sortable: true
				},
				{
					field : 'lHeight2', 
					title : '最大自由高度(M)',
					sortable: true
				},
				{
					field : 'lUpcollect', 
					title : '向下采集点输入方式',
					sortable: true
				},
				{
					field : 'lDowncollection', 
					title : '向上采集点输入方式',
					sortable: true
				},
				{
					field : 'lGearmodules', 
					title : '齿轮模数(0-20)',
					sortable: true
				},
				{
					field : 'lLowlimit', 
					title : '下限位输入方式',
					sortable: true
				},
				{
					field : 'lMContract', 
					title : '主接触器输出方式',
					sortable: true
				},
				{
					field : 'lSContract', 
					title : '副接触器输出方式',
					sortable: true
				},
				{
					field : 'lMonitorstyle', 
					title : '监控控制方式',
					sortable: true
				},
				{
					field : 'lSections', 
					title : '升节节数',
					sortable: true
				},
				{
					field : 'lControlstyle', 
					title : '升降机控制方式',
					sortable: true
				},
				{
					field : 'lLimitCapacity', 
					title : '分时限载载重（T)',
					sortable: true
				},
				{
					field : 'hxzid', 
					title : '设备编号',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>