<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								设备编号：<input type="text" name="deviceNo"/>
							</li>

							<li>
								设备型号：<input type="text" name="model"/>
							</li>

							<li>
								设备名称：<input type="text" name="name"/>
							</li>

							<li>
								设备用户编号：<input type="text" name="uid"/>
							</li>

							<li>
								设备证书日期：<input type="text" name="license"/>
							</li>

							<li>
								设备发证日期：<input type="text" name="licenseStartDate"/>
							</li>

							<li>
								设备有效日期：<input type="text" name="licenseEndDate"/>
							</li>

							<li>
								设备照片：<input type="text" name="photos"/>
							</li>

							<li>
								设备产权单位：<input type="text" name="propertyUnit"/>
							</li>

							<li>
								设备制造商：<input type="text" name="mnufacturerBusiness"/>
							</li>

							<li>
								设备维保商：<input type="text" name="maiWarBus"/>
							</li>

							<li>
								设备检测商：<input type="text" name="testingBusiness"/>
							</li>

							<li>
								设备进场时间：<input type="text" name="inDate"/>
							</li>

							<li>
								设备出场时间：<input type="text" name="outDate"/>
							</li>

							<li>
								监测设备厂商：<input type="text" name="monDeviceMan"/>
							</li>

							<li>
								监测设备安装日期：<input type="text" name="deviceInstallationDate"/>
							</li>

							<li>
								设备编号：<input type="text" name="hxzid"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="zhgd:sbElevatorAddbasicinfo:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="zhgd:sbElevatorAddbasicinfo:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="zhgd:sbElevatorAddbasicinfo:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="zhgd:sbElevatorAddbasicinfo:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('zhgd:sbElevatorAddbasicinfo:edit')}]];
        var removeFlag = [[${@permission.hasPermi('zhgd:sbElevatorAddbasicinfo:remove')}]];
        var prefix = ctx + "zhgd/sbElevatorAddbasicinfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "升降机基本",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'id',
					visible: false
				},
				{
					field : 'deviceNo', 
					title : '设备编号',
					sortable: true
				},
				{
					field : 'model', 
					title : '设备型号',
					sortable: true
				},
				{
					field : 'name', 
					title : '设备名称',
					sortable: true
				},
				{
					field : 'uid', 
					title : '设备用户编号',
					sortable: true
				},
				{
					field : 'license', 
					title : '设备证书日期',
					sortable: true
				},
				{
					field : 'licenseStartDate', 
					title : '设备发证日期',
					sortable: true
				},
				{
					field : 'licenseEndDate', 
					title : '设备有效日期',
					sortable: true
				},
				{
					field : 'photos', 
					title : '设备照片',
					sortable: true
				},
				{
					field : 'propertyUnit', 
					title : '设备产权单位',
					sortable: true
				},
				{
					field : 'mnufacturerBusiness', 
					title : '设备制造商',
					sortable: true
				},
				{
					field : 'maiWarBus', 
					title : '设备维保商',
					sortable: true
				},
				{
					field : 'testingBusiness', 
					title : '设备检测商',
					sortable: true
				},
				{
					field : 'inDate', 
					title : '设备进场时间',
					sortable: true
				},
				{
					field : 'outDate', 
					title : '设备出场时间',
					sortable: true
				},
				{
					field : 'monDeviceMan', 
					title : '监测设备厂商',
					sortable: true
				},
				{
					field : 'deviceInstallationDate', 
					title : '监测设备安装日期',
					sortable: true
				},
				{
					field : 'hxzid', 
					title : '设备编号',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>