<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sbCraneAddrecord-edit" th:object="${sbCraneAddrecord}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备编号--32位：</label>
				<div class="col-sm-8">
					<input id="deviceNo" name="deviceNo" th:field="*{deviceNo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">运行时,格式为yyyy-MM-dd hh:mm:ss：</label>
				<div class="col-sm-8">
					<input id="runtime" name="runtime" th:field="*{runtime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">载重（T)：</label>
				<div class="col-sm-8">
					<input id="load" name="load" th:field="*{load}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">载重比：</label>
				<div class="col-sm-8">
					<input id="loadRatio" name="loadRatio" th:field="*{loadRatio}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">力矩：</label>
				<div class="col-sm-8">
					<input id="moment" name="moment" th:field="*{moment}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">力矩比：</label>
				<div class="col-sm-8">
					<input id="momentRatio" name="momentRatio" th:field="*{momentRatio}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">回转角度：</label>
				<div class="col-sm-8">
					<input id="slewingSpeed" name="slewingSpeed" th:field="*{slewingSpeed}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否左限位报警(0.否1.是)：</label>
				<div class="col-sm-8">
					<input id="isLeftWarning" name="isLeftWarning" th:field="*{isLeftWarning}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否右限位报警(0.否1.是)：</label>
				<div class="col-sm-8">
					<input id="isRightWarning" name="isRightWarning" th:field="*{isRightWarning}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">幅度：</label>
				<div class="col-sm-8">
					<input id="range" name="range" th:field="*{range}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否前限位报警(0.否1.是)：</label>
				<div class="col-sm-8">
					<input id="isForwardWarning" name="isForwardWarning" th:field="*{isForwardWarning}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否后限位报警(0.否1.是)：</label>
				<div class="col-sm-8">
					<input id="isBackwardWarning" name="isBackwardWarning" th:field="*{isBackwardWarning}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">高度：</label>
				<div class="col-sm-8">
					<input id="height" name="height" th:field="*{height}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">是否上限位报警(0.否1.是)：</label>
				<div class="col-sm-8">
					<input id="isUpWarning" name="isUpWarning" th:field="*{isUpWarning}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">塔机工作环境温度：</label>
				<div class="col-sm-8">
					<input id="workEnvironment" name="workEnvironment" th:field="*{workEnvironment}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">实时标志(0历史数据,1实时数据)：</label>
				<div class="col-sm-8">
					<input id="realTimeFlag" name="realTimeFlag" th:field="*{realTimeFlag}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">安装方式：</label>
				<div class="col-sm-8">
					<input id="installationMethod" name="installationMethod" th:field="*{installationMethod}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">风速 m/s：</label>
				<div class="col-sm-8">
					<input id="windSpeed" name="windSpeed" th:field="*{windSpeed}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">持卡卡号：</label>
				<div class="col-sm-8">
					<input id="cardNum" name="cardNum" th:field="*{cardNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">持卡人姓名：</label>
				<div class="col-sm-8">
					<input id="operatorName" name="operatorName" th:field="*{operatorName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备编号：</label>
				<div class="col-sm-8">
					<input id="hxzid" name="hxzid" th:field="*{hxzid}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">倍率：</label>
				<div class="col-sm-8">
					<input id="magnification" name="magnification" th:field="*{magnification}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "zhgd/sbCraneAddrecord";
		$("#form-sbCraneAddrecord-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-sbCraneAddrecord-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
